body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.circle-container {
    position: relative;
    width: 530px;
    height: 530px;
    margin: 0 auto 20px;
}

.circle {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 50%;
}

.element {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.element.active {
    background-color: #e74c3c;
}

.outer-swiper {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
}

.inner-swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 50%;
}

.outer-next,
.outer-prev {
    top: 0%;
    transform: translateY(-50%);
    position: absolute;
}

.inner-next,
.inner-prev {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}